.list-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item-info {
        display: flex;
        align-items: flex-start;
    }

    .edit-button {
        border: none;
        background-color: transparent;
        color: var(--color-text-gray);
        cursor: pointer;
        padding: 6px;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }

    .delete-button {
        border: none;
        padding: 4px;
        background-color: rgba(0,0,0,0);
        cursor: pointer;
        color: var(--color-text-gray);
        opacity: 0.7;

        &:hover {
            color: #ad1515;
        }

        &:active {
            color: #600808;
        }
    }

    .quantity {
        margin-bottom: 0;
        font-size: 0.8rem;
    }

    .checkbox {
        display: block;
        height: 20px;
        width: 20px;
        border-radius: 4px;
        border: 1px solid var(--color-light-gray);
        cursor: pointer;
        margin-right: 0.7rem;
        margin-top: 0.4rem;

        .check {
            stroke: var(--color-secondary);
            opacity: 0;
        }
    }

    &.checked {
        .checkbox {
            border-color: var(--color-secondary);
        }

        .check {
            opacity: 1;
        }
    }   
}

.notes-container {
    max-height: 0;
    transition: max-height 0.25s ease-in-out;
    overflow: hidden;

    &.visible {
        max-height: 500px;
        transition: max-height 0.55s ease-in-out;
    }
}

.notes-toggle-btn {
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    margin-top: 0.4rem;
    margin-left: 1.5rem;
    background-color: transparent;
    border: 1px solid #947156;
    color: #947156;

    &:hover {
        background-color: #947156;
        color: white;
    }
}

.notes {
    background-color: var(--color-light-highlight);
    border: 1px solid #debfa3;
    border-radius: 6px;
    margin-top: 8px;
    padding: 10px 14px 20px;
}