.list-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {

    }

    .bullet {
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--color-secondary);
        margin-right: 8px;
    }
}