@keyframes checkedFlash {
  0% {
    background-color: #d4f5d4;
  }
  100% {
    background-color: transparent;
  }
}

.list-item-container {
  padding: 4px 8px;

  &:not(:last-child) {
    border-bottom: 1px solid #dfdcdc;
  }

  &.flash {
    animation: checkedFlash 0.5s ease-out;
  }
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 14px;

  h3 {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-text-gray);
  }

  .item-info {
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 90%;
  }

  .item-header {
    max-width: 100%;
  }

  .header-text {
    max-width: 94%;

    @media (max-width: 700px) {
      max-width: 86%;
    }
  }

  .item-buttons {
    padding-top: 4px;
    align-self: flex-start;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-grow: 0;

    @media (max-width: 700px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  .edit-button {
    border: none;
    background-color: transparent;
    color: var(--color-text-gray);
    cursor: pointer;
    padding: 8px;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }

  .delete-button {
    border: none;
    padding: 8px;
    margin-left: 4px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: var(--color-text-gray);
    opacity: 0.7;

    &:hover {
      color: #ad1515;
    }

    &:active {
      color: #600808;
    }
  }

  .quantity {
    margin-bottom: 0;
    font-size: 0.78rem;
    color: #686867;
    margin-left: 4px;
  }

  .checkbox {
    display: block;
    height: 22px;
    width: 22px;
    min-height: 22px;
    min-width: 22px;
    border-radius: 4px;
    border: 1px solid var(--color-light-gray);
    cursor: pointer;
    margin-right: 0.7rem;
    margin-top: 0.4rem;

    .check {
      stroke: #277500;
      opacity: 0;
    }

    @media (max-width: 700px) {
      margin-top: 0.1rem;
    }
  }

  &.checked {
    .item-info,
    .item-buttons {
      opacity: 0.5;
    }

    .checkbox {
      border-color: #277500;
    }

    .check {
      opacity: 1;
    }
  }

  @media (max-width: 700px) {
    h3 {
      font-size: 1.1rem;
    }
  }
}

.notes-container {
  max-height: 0;
  transition: max-height 0.25s ease-in-out;
  overflow: hidden;
  margin: 0 18px;

  &.visible {
    max-height: 500px;
    transition: max-height 0.55s ease-in-out;
  }
}

.notes-toggle-btn {
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.25rem 0.45rem;
  border-radius: 4px;
  margin-top: 0.4rem;
  margin-left: 1.8rem;
  background-color: #9f7f66;
  color: white;
  flex-grow: 0;

  &:hover {
    background-color: #7d6049;
  }

  @media (max-width: 700px) {
    margin-top: 0.1rem;
  }
}

.notes {
  background-color: var(--color-light-highlight);
  border: 1px solid #debfa3;
  border-radius: 6px;
  margin-top: 8px;
  padding: 10px 14px 20px;
  color: var(--color-text-gray);
}
