.gear-lists-list {
  margin-top: 60px;

  ul {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
  }

  a {
    flex-grow: 1;
    max-width: 80%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
  }

  .gear-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-light-highlight);
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(46, 46, 43, 0.2);
    border: 1px solid var(--color-light-gray);

    &:hover {
      box-shadow: 0 4px 8px 3px rgba(46, 46, 43, 0.2);
      transition: 0.15s ease;
    }

    article {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      h2,
      .description {
        color: var(--color-text-gray);
      }

      h2 {
        font-size: var(--fs-2xl);
        line-height: 1.2;
        margin-bottom: 8px;
      }

      button {
        margin: 25px 30px;
      }

      @media (max-width: 740px) {
        h2 {
          font-size: var(--fs-xl);
          line-height: 1.2;
        }

        a {
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 20px;
        }

        button {
          margin: 15px 20px;
        }
      }

      @media (max-width: 500px) {
        h2 {
          font-size: var(--fs-lg);
        }

        p {
          font-size: 0.85rem;
        }
      }
    }
  }

  .list-delete-button {
    border: none;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: var(--color-light-gray);

    &:hover {
      color: #ad1515;
    }

    &:active {
      color: #600808;
    }
  }
}
