.my-gear-lists {
    padding: 70px 0 80px;
    text-align: left;

    .header {
        font-size: var(--fs-xxxl);
    }

    .tagline {
        font-size: 1.2rem;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .sign-in-prompt {
        margin: 60px auto;
        width: 90%;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 4px;
        box-shadow: 0 3px 6px rgba(46, 46, 43, 0.2);
        border: 1px solid var(--color-light-gray);
        text-align: center;

        section {
            padding: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-size: var(--fs-md-lg);
            }

            button {
                margin-top: 20px;
            }
        }

        header {
            display: flex;
            justify-content: center;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            padding: 20px;
            width: 100%;
            background-color: var(--color-secondary);
            color: #FFFFFF;

            h2 {
                font-size: var(--fs-xl);
                font-weight: 600;
            }
        }

        @media(max-width: 700px) {
            width: 100%; 

            header {
                padding: 15px;

                h2 {
                    font-size: var(--fs-lg);
                }
            }

            section {
                padding: 50px 25px;
            }
        }
    }
}