.my-gear-lists {
  padding-bottom: 80px;
  text-align: left;

  .header {
    font-size: var(--fs-3xl);
    line-height: 1.2;
    margin-bottom: 10px;
  }

  .tagline {
    font-size: 1.2rem;
  }

  hr {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  @media (max-width: 740px) {
    .header {
      font-size: var(--fs-2xl);
      line-height: 1.2;
    }
  }
}
