.my-gear-lists {
    padding: 70px 0 80px;
    text-align: left;

    .header {
        font-size: var(--fs-xxxl);
        line-height: 1.2;
        margin-bottom: 8px;
    }

    .tagline {
        font-size: 1.2rem;
    }

    hr {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    @media(max-width: 740px) {
        .header {
            font-size: var(--fs-xxl);
            line-height: 1.2;
        }
    }
}