.my-gear-lists {
  padding-bottom: 80px;
  text-align: left;

  .header {
    font-size: var(--fs-3xl);
    line-height: 1.2;
    margin-bottom: 10px;
  }

  .tagline {
    font-size: 1.2rem;
    width: 80%;
  }

  .gear-lists-section-line {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  @media (max-width: 1200px) {
    .gear-lists-section-line {
      margin-top: 40px;
    }
  }

  @media (max-width: 700px) {
    .header {
      font-size: var(--fs-2xl);
    }

    .tagline {
      font-size: 1rem;
    }

    .gear-lists-section-line {
      margin-top: 30px;
    }
  }
}
