.gear-list-container {
    text-align: left;
    padding: 80px 0;

    .list-details {
        display: flex;
        align-items: flex-start;
        gap: 18px;
    }

    .title {
        font-size: 2.7rem;
        line-height: 1.2;
    }

    .description {
        font-size: 1.2rem;
        line-height: 1.1;
        margin: 8px 0 20px;
    }

    .edit-list-details {
        border: none;
        background-color: transparent;
        color: var(--color-text-gray);
        cursor: pointer;
        padding: 6px;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }

    hr {
        margin: 0 0 35px;
    }

    @media(max-width: 900px) {
        .title {
            font-size: var(--fs-xxl);
        }
    }

    @media(max-width: 700px) {
        .title {
            font-size: var(--fs-xl);
        }
    }
}

.items-list-container {
    max-width: 1000px;
    margin-top: 60px;
    border: 1px solid var(--color-light-gray);
    border-radius: 6px;

    hr {
        margin-bottom: 0;
    }
}

.category-section {
    padding: 20px;

    h2 {
        font-size: 1.3rem;
        color: #7d6654;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 1.4rem;
    }
}

.items-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}