.gear-list-container {
  text-align: left;
  padding-top: 35px;
  padding-bottom: 70px;

  .list-details {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    width: 100%;

    h1,
    p {
      max-width: 86%;
    }
  }

  .title {
    font-size: var(--fs-3xl);
    line-height: 1.2;
    margin-bottom: 14px;
  }

  .description {
    font-size: 1.2rem;
    line-height: 1.1;
    max-width: 70%;

    @media (max-width: 1200px) {
      max-width: 80%;
    }

    @media (max-width: 90px) {
      max-width: 90%;
    }

    @media (max-width: 700px) {
      max-width: 100%;
    }
  }

  .edit-list-details {
    border: none;
    background-color: transparent;
    color: var(--color-text);
    cursor: pointer;
    padding: 6px;
    opacity: 0.7;

    &:hover,
    &:focus-visible {
      opacity: 1;
    }
  }

  .gear-list-page-separator {
    margin: 30px 0 16px;
  }

  .page-intro-text {
    font-size: 1.1rem;
    margin-bottom: 30px;
    font-style: italic;
    font-weight: 400;
  }

  @media (max-width: 700px) {
    .title {
      font-size: var(--fs-2xl);
    }
  }
}
