.action-panel {
    margin: 60px auto;
    width: 90%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(46, 46, 43, 0.09);
    border: 1px solid var(--color-light-gray);
    text-align: center;

    .body {
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-size: var(--fs-md-lg);
        }

        button {
            margin-top: 20px;
        }
    }

    header {
        display: flex;
        justify-content: center;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 20px;
        width: 100%;
        background-color: var(--color-secondary);
        color: #FFFFFF;

        h1, h2, h3, h4, h5, h6 {
            font-size: var(--fs-xl);
            font-weight: 600;
        }
    }

    @media(max-width: 700px) {
        width: 100%; 
        margin: 30px auto;

        header {
            padding: 15px;

            h1, h2, h3, h4, h5, h6 {
                font-size: var(--fs-lg);
            }
        }

        .body {
            padding: 50px 25px;
        }
    }
}