.action-panel {
  margin: 100px auto;
  width: 90%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(46, 46, 43, 0.09);
  border: 1px solid var(--color-light-gray);
  text-align: center;
  background-color: var(--color-light-secondary);

  .body {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 1.1rem;
    }

    button {
      margin-top: 20px;
    }
  }

  header {
    display: flex;
    justify-content: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 22px;
    width: calc(100% + 2px);
    background-color: var(--color-secondary);
    color: var(--color-light-secondary);
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: var(--fs-2xl);
      font-family: 'Fjord One', serif;
      font-weight: 400;
      font-style: normal;
    }
  }

  @media (max-width: 700px) {
    width: 100%;
    margin: 50px auto;

    header {
      padding: 15px;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: var(--fs-lg);
      }
    }

    .body {
      padding: 50px 25px;
    }
  }
}
