.articles-container {
  min-height: 100vh;
  padding-bottom: 80px;
}

.header {
  text-align: left;
  margin-bottom: 40px;

  h1 {
    font-size: var(--fs-3xl);
    line-height: 1.2;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2rem;
    margin-top: 0;
    width: 80%;
  }
}

ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card-skeleton {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

.article-card {
  border-radius: 6px;
  border: 1px solid #2e2e2b33;
  box-shadow: 0 0.2rem 0.2rem #2e2e2b33;
  background-color: var(--color-light-secondary);
  &:hover,
  &:focus {
    box-shadow: 0 0.5rem 0.6rem 0.3rem #2e2e2b33;
    transition: 0.15s ease;
  }

  a {
    display: block;
    color: inherit;
    text-decoration: none;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;
    background-color: #e8e5dc;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    flex-grow: 1;
  }

  .text-container {
    padding: 20px 30px 28px;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;

    .article-header {
      display: flex;
      flex-direction: column;

      h2 {
        font-size: var(--fs-lg);
        line-height: 1.3;
        margin-bottom: 4px;
        font-weight: 400;
      }

      p {
        color: #585856;
        font-style: italic;
        font-size: var(--fs-sm);
      }
    }
    .article-content {
      color: #585856;
      margin-bottom: 0;
    }
  }
}

.articles-section-line {
  margin-top: 60px;
  margin-bottom: 40px;
}

@media (max-width: 1400px) {
  .article-card .text-container .article-header h2 {
    font-size: var(--fs-md-lg);
  }
}

@media (max-width: 1200px) {
  .articles-section-line {
    margin-top: 40px;
  }
}

@media (max-width: 850px) {
  .list {
    max-width: 450px;
  }

  .article-card .text-container .article-header h2 {
    font-size: var(--fs-lg);
  }
}

@media (max-width: 700px) {
  .header {
    h1 {
      font-size: var(--fs-2xl);
    }

    p {
      font-size: 1rem;
    }
  }

  .articles-section-line {
    margin-top: 30px;
  }
}
