.create-gear-list {
    form {
        padding: 0 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;

        .input-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 20px;

            label {
                font-size: 1.2rem;
                font-weight: 500;;
            }

            input {
                width: 100%;
                margin-top: 6px;
            }
        }
    }
}