.error-block {
  width: 100%;
  border: 1px solid #d9534f;
  background: #ffe9e6da;
  color: #842029;

  padding: 30px;
  border-radius: 4px;
  margin: 1rem 0;
  font-size: 0.95rem;
  line-height: 1.4;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  animation: fade-in 0.2s ease-out;

  &__message {
    margin: 0;
    font-weight: 600;
  }
}
