// Global styles for Headless UI combobox component.
// These styles need to be global because Headless UI
// renders combobox outside of the normal component tree.
// Keeping styles here ensures consistent styling across the app.

.combobox-container {
  position: relative;
  width: 100%;
}

.combobox-options {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  width: 100%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  max-height: 290px;
  overflow-y: auto;
  padding: 0 0 8px;
  z-index: 100;
}

.combobox-group {
  padding: 0 0 8px;
}

.combobox-group-label {
  padding: 4px 12px;
  font-size: var(--fs-md-lg);
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  background-color: #6a472b;

  @media (max-width: 600px) {
    font-size: 1.2rem;
  }
}

.combobox-option[data-focus] {
  background-color: #f2f0ef;
}

.combobox-option {
  padding: 10px 12px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover,
  &:focus {
    background-color: #f2f0ef !important;
  }

  &.disabled {
    color: #848383;
    cursor: not-allowed;
  }
}

.combobox-badge {
  font-size: 0.75rem;
  color: #888;
}

.combobox-input-container {
  display: flex;
  margin-top: 6px;
}

.combobox-button {
  cursor: pointer;
  font-size: 1.1rem;
  margin-left: 8px;
  border: 1px solid #6fa3df;
  border-radius: 4px;
  padding: 0 0.6rem;
  background-color: #fff;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;

  display: flex;
  align-items: center;

  img {
    width: 1.2rem;
  }

  &:focus,
  &:hover {
    border-color: #779fcd;
    box-shadow: 0 0 0 3px rgba(0, 119, 255, 0.2);
  }

  &:disabled {
    background-color: #f5f5f5;
    color: #999;
    cursor: not-allowed;
  }

  &::placeholder {
    color: #aaa;
  }
}

.common-gear-combo-container {
  max-width: 500px;
  margin-top: 30px;

  .combobox-label {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-text);
  }
}
