// Global styles for Headless UI menu component.
// These styles need to be global because Headless UI
// renders menus outside of the normal component tree.
// Keeping styles here ensures consistent styling across the app.

.navbar-menu-items {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light-primary);
  min-width: 250px;
  margin-top: 4px;
  border-radius: 6px;
  border: 1px solid var(--color-secondary);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);

  .menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-text);
    font-weight: 500;
    padding: 14px;
    width: 100%;

    button {
      padding: 14px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.6rem 1.2rem;
      font-weight: 600;
      border: none;
      cursor: pointer;
      background-color: transparent;
      font-size: 1.2rem;
      color: white;
    }

    &:hover,
    &:focus {
      background-color: #f6efe1;
    }

    &:last-child {
      background-color: var(--color-secondary);

      &:hover,
      &:focus {
        background-color: var(--color-primary);
      }
    }
  }

  .menu-separator {
    background-color: var(--color-light-gray);
    height: 1px;
  }
}
