// Colors
// $color-primary: #386641;
$color-primary: #0b2116;
$color-secondary: #3a532b;
$color-accent: #BC6C25;
$color-accent-bright: #fdcd53;
$color-light-primary: #fbf6ed;
$color-text: #1B1B1B;
$color-light-green: #c4d7b8;
$color-light-gray: #b7b5b5;
$color-highlight: #F5C16C;
$color-bright-highlight: #ebdba0;

// Typography
$font-sans: 'Inter', sans-serif;
$font-serif: 'Merriweather', serif;

$fs-xxl: 2.5rem;
$fs-xl: 2rem;
$fs-lg: 1.5rem;
$fs-body: 1rem;
$fs-sm: 0.875rem;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;