// Colors
// $color-primary: #386641;
$color-primary: #0c2a1a;
$color-secondary: #3c5b2b;
$color-accent: #BC6C25;
$color-accent-bright: #fdcd53;
$color-light-primary: #fbf6ed;
$color-light-highlight: #fffaf4;
$color-text: #1B1B1B;
$color-text-gray: #3c3c3a;
$color-light-green: #d5e3cc;
$color-light-gray: #b7b5b5;
$color-highlight: #F5C16C;
$color-bright-highlight: #ebdba0;

// Typography
$font-sans: 'Inter', sans-serif;
$font-serif: 'Merriweather', serif;

$fs-xxxl: 3.2rem;
$fs-xxl: 2.5rem;
$fs-xl: 2rem;
$fs-lg: 1.6rem;
$fs-md-lg: 1.3rem;
$fs-body: 1rem;
$fs-sm: 0.875rem;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;