// Colors
$color-primary: #0c2a1a;
$color-secondary: #3c5b2b;
$color-accent: #bc6c25;
$color-accent-bright: #fdcd53;
$color-light-primary: #fbf6ed;
$color-light-highlight: #fffdf9;
$color-text: #1b1b1b;
$color-text-gray: #3c3c3a;
$color-light-green: #d5e3cc;
$color-light-gray: #b7b5b5;
$color-highlight: #f5c16c;
$color-bright-highlight: #ebdba0;

// Typography
$font-sans: 'Inter', sans-serif;
$font-serif: 'Merriweather', serif;

$fs-3xl: 3.4rem;
$fs-2xl: 2.5rem;
$fs-xl: 2rem;
$fs-lg: 1.6rem;
$fs-md-lg: 1.3rem;
$fs-body: 1rem;
$fs-sm: 0.875rem;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
