.hero {
    width: 100%;
    height: 70vh;
    min-height: 500px;
    max-height: 700px;
    background: url('../../assets/images/forest-sunrise-flipped.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    display: flex;

    .hero-text-container {
        width: 50%;
        min-width: 500px;
        height: 100%;
        background: linear-gradient(
            to right, 
            rgba(6, 18, 12, 0.85) 75%,
            rgba(6, 18, 12, 0.8) 80%,
            rgba(6, 18, 12,0.6) 85%,
            rgba(16, 18, 12,0.4) 90%,
            rgba(6, 18, 12,0) 100%
        );
        color: var(--color-light-primary);
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 8%;
    }
}

.info-section {
    padding: 40px 0;
}

.articles-info {
    background-color: var(--color-secondary);
    color: white;
}

@media(max-width: 920px) {
    .hero {
        .hero-text-container {

        }
    }
}

@media(max-width: 920px) {
    .hero {
        .hero-text-container {
            min-width: 300px;
        }
    }
}