.nav-container {
    width: 100%;
    background: var(--color-primary);
    padding: 10px 20px;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .link-list {
        display: flex;
        align-items: center;
        margin: 0;

        li {
            margin-right: 14px;
        }

        a {
            color: var(--color-bright-highlight);
            display: inline-block;
            text-align: center;

            &:hover {
                color: #FFFFFF;
            }

            .home-logo {
                width: 3.8rem;
                margin-right: 5px;
            }
        }
    }

    .profile-container {
        display: flex;
        align-items: center;

        .profile-image {
            border-radius: 50%;
            width: 46px;
        }  

        .profile-icon-container {
            border-radius: 50%;
            padding: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 1/1;
        }

        .profile-menu-button {
            all: unset; 
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 2px solid white;
            border-radius: 50%;
            margin: 2px;
        
            &:hover,
            &:focus-visible {
                border-width: 4px;
                margin: 0;
            }
        }
    }  
}