.nav-container {
  width: 100%;
  background: var(--color-primary);
  padding: 12px 20px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .link-list {
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: 24px;
    gap: 2rem;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a {
      color: var(--color-light-green);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.1rem;
      padding: 2px;

      &:hover,
      &:focus-visible {
        color: #ffffff;
      }

      span {
        display: inline-block;
      }

      .home-logo {
        width: 2.8rem;
        margin-right: 5px;
      }
    }
  }

  .profile-container {
    display: flex;
    align-items: center;

    .profile-menu-button {
      all: unset;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 2px solid white;
      border-radius: 50%;
      margin: 1px;

      &:hover,
      &:focus-visible {
        border-width: 3px;
        border-color: white;
        margin: 0;
      }
    }
  }

  .profile-image {
    border-radius: 50%;
    width: 46px;
    height: 46px;
  }

  .profile-icon-container {
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.7;
  }
}

.profile-placeholder {
  background-color: #e0e0e0;
  min-width: 52px;
  min-height: 52px;
  border-radius: 50%;
  animation: pulse 2s ease-in-out infinite;
}

@media (max-width: 700px) {
  .nav-container {
    .link-list {
      gap: 1.1rem;
    }
  }
}

@media (max-width: 520px) {
  .nav-container {
    padding: 8px 12px;

    .link-list {
      gap: 0.8rem;

      a {
        font-size: 0.9rem;

        .home-logo {
          width: 2.5rem;
          margin-right: 5px;
        }
      }
    }

    button {
      padding: 0.3rem 0.6rem;
      border-radius: 6px;
    }
  }
}
