@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.4;
  }
}

.skeleton {
  background-color: var(--color-light-gray);
  border-radius: 8px;
  animation: pulse 1.6s ease-in-out infinite;
  margin-bottom: 20px;
  width: 100%;
  aspect-ratio: 1/1;
}
