.article-content {
  padding: 70px 0 90px;
  margin: 0 auto;
  width: 75%;
  max-width: 740px;
  min-width: 350px;
  text-align: left;

  header {
    margin-bottom: 20px;
  }

  .title {
    font-size: var(--fs-3xl);
    line-height: 1.2;
    margin-bottom: 10px;
  }

  .tagline {
    font-weight: 500;
    font-size: var(--fs-md-lg);
    margin-bottom: 12px;
    color: var(--color-text-gray);
  }

  .byline {
    font-weight: 300;
    color: var(--color-text-gray);
  }

  hr {
    margin-bottom: 45px;
  }

  img {
    width: 100%;
    height: auto;
    max-height: 740px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 50px;
  }

  .copy {
    color: var(--color-text-gray);
    font-size: 1.1rem;

    p {
      margin-bottom: 24px;
    }
  }

  @media (max-width: 1024px) {
    width: 85%;

    img {
      max-height: 640px;
    }
  }

  @media (max-width: 700px) {
    .title {
      font-size: var(--fs-2xl);
    }

    .tagline {
      font-size: 1.1rem;
    }
  }

  @media (max-width: 600px) {
    width: 90%;

    .copy {
      font-size: 1rem;
    }
  }
}
