.page-not-found {
  margin: 20vh auto 40px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 20px;
    font-size: var(--fs-md-lg);

    @media (max-width: 800px) {
      font-size: 0.9rem;
    }

    @media (max-width: 600px) {
      font-size: 0.8rem;
    }
  }
}
