@use  './styles/tokens' as t;

:root {
  /* Colors */
  --color-primary: #{t.$color-primary};
  --color-secondary: #{t.$color-secondary};
  --color-accent: #{t.$color-accent};
  --color-light-primary: #{t.$color-light-primary};
  --color-text: #{t.$color-text};
  --color-highlight: #{t.$color-highlight};
  --color-bright-highlight: #{t.$color-bright-highlight};

  /* Typography - fonts */
  --font-sans: #{t.$font-sans};
  --font-serif: #{t.$font-serif};

  /* Typography - font sizes */
  --fs-xxl: #{t.$fs-xxl};
  --fs-xl: #{t.$fs-xl};
  --fs-lg: #{t.$fs-lg};
  --fs-body: #{t.$fs-body};
  --fs-sm: #{t.$fs-sm};

  /* Typography - font weights */
  --fw-regular: #{t.$fw-regular};
  --fw-medium: #{t.$fw-medium};
  --fw-bold: #{t.$fw-bold};

  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-light-primary);
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  list-style: none;
  padding: 0;
}

