.items-list-container {
  max-width: 900px;
  margin-top: 60px;
  border: 1px solid var(--color-light-gray);
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.6);
  .gear-list-separator {
    margin-bottom: 0;
  }

  @media (max-width: 600px) {
    border: none;
  }
}

.category-container {
  &:not(:last-child) {
    border-bottom: 1px solid var(--color-light-gray);
  }
}

.category-section {
  padding: 20px;

  .category-title {
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
    color: #7d6654;
  }

  h2 {
    font-size: 1.9rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 0.6rem;
  }

  @media (max-width: 800px) {
    h2 {
      font-size: 1.7rem;
    }
  }

  @media (max-width: 600px) {
    padding: 20px 0;

    h2 {
      font-size: 1.4rem;
    }
  }
}

.items-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  gap: 0;

  @media (max-width: 700px) {
    padding: 0;
  }
}
