.article-skeleton {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  padding: 1rem;
  max-width: 100%;
  margin: 1rem auto;

  .image-placeholder {
    width: 100%;
    height: 250px;
    background-color: var(--color-light-gray);
    border-radius: 8px;
    animation: pulse 1.6s ease-in-out infinite;
  }

  .text-placeholder {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .title-placeholder {
      width: 60%;
      height: 24px;
      background-color: var(--color-light-gray);
      border-radius: 4px;
      animation: pulse 1.6s ease-in-out infinite;
    }

    .author-placeholder {
      width: 40%;
      height: 18px;
      background-color: var(--color-light-gray);
      border-radius: 4px;
      animation: pulse 1.6s ease-in-out infinite;
    }

    .line-placeholder {
      width: 100%;
      height: 14px;
      background-color: var(--color-light-gray);
      border-radius: 4px;
      animation: pulse 1.6s ease-in-out infinite;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.4;
  }
}
